<table class="table datatable mt-5">
  <caption></caption>
  <thead>
  <tr>
    <th scope="col">
      #
      <button class="btn btn-link custom-btn-link" (click)="toggleSortOrder()">
        <i [class]="sortBy[0] === 'id,asc' ? 'bi bi-caret-up-fill' : 'bi bi-caret-down-fill'"></i>
      </button></th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let supplier of suppliers">
    <th scope="row">{{supplier.id}}</th>
    <td>{{supplier.firstName}} {{supplier.lastName}}</td>
    <td>{{supplier.email}}</td>
    <td>{{supplier.phone}}</td>
    <td>{{supplier.address}}</td>
    <td>{{supplier.status}}</td>
    <td>
      <button (click)="onEditClick(supplier)" class="btn btn-link custom-btn-link">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
<div style="display: flex;" *ngIf="totalPages>0">
  <div style="flex: 1"></div>
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage===1">
        <a class="page-link" (click)="onPageChange(currentPage=currentPage-1)">Previous</a>
      </li>
      <li class="page-item " *ngFor="let pageNumber of pageNumbers" [class.active]="pageNumber === currentPage">
        <a class="page-link custom-page-link" (click)="onPageChange(currentPage=pageNumber)">{{pageNumber}}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="onPageChange(currentPage=currentPage+1)">Next</a>
      </li>
    </ul>
  </nav>
</div>
